.ui.card > .image > img,
.ui.cards > .card > .image > img {
  height: 12em;
}

.ui.card > .image,
.ui.cards > .card > .image {
  height: 12em;
}

.ui.medium.image,
.ui.medium.images .image,
.ui.medium.images img,
.ui.medium.images svg {
  height: 20em;
  width: 20em;
  font-size: 1rem;
  padding: 4px;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
